/* Simple CSS for styling the menu and submenu items */
.menu-item {
    padding: 10px;
    border: 1px solid black;
    margin: 10px 0;
}
.submenu-item {
    padding: 5px;
    margin-left: 20px;
    border-left: 1px dashed black;
}
.sidebar-item {
    padding: 3px;
    margin-left: 40px;
    font-style: italic;
}
/* Target the component directly */
calcite-navigation-logo {
    font-family: 'Roboto';  /* For instance, Arial or 'Times New Roman' */
    font-size: 24px;
    color: blue;  /* Changes the color of the text */
}

/* If it's possible to target deeper parts of the shadow DOM or if Calcite provides specific slotted content, you could use more specific selectors, like: */
calcite-navigation-logo::slotted(span) { /* Just an example, might not work without specific provided slots */
    color: red;
}

.pointer-cursor {
    cursor: pointer;
}

#main {
    display: flex; /* Enables flexbox layout */
    flex-direction: row; /* Places children in a row */
    flex-grow: 1; /* Allows the container to take up available space */
}

#mainSidebar {
    width: 300px; /* or any other value */
    padding: 15px;
    height: calc(100vh - 104px);
    overflow: auto;
}

#mainContent {
    /* Main content styles */
    flex-grow: 1;
    display: flex;
    flex-wrap: wrap;
}

#mapView {
    flex-grow: 1;
    height: 100%;
}

#overlay {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: rgba(255, 255, 255, 0.6);
    padding: 10px;
    border-radius: 5px;
    z-index: 1000;
    width: 300px;
    max-height: 1000px; /* or a value bigger than your content's height */
    transition: max-height 0.3s ease-in-out, opacity 0.3s ease-in-out; /* Added opacity for smoother collapse */
    overflow: hidden;
}

.overlay-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.collapsed #overlay {
    max-height: 0;
    opacity: 0; /* This can make the collapse look smoother */
}