<div id="mainVizMatrix">
    <div id="matrixSidebar" class="sidebar">
      <div class="colAttributes">
        <div class="rowAttributes" id="vizMatrixAttributes"></div>
        <div class="rowAttributeSettings" id="vizMatrixDividers"></div>
        <div class="rowAttributeSettings" id="vizMatrixDividerFilters"></div>
        <div class="rowGeography" id="vizMatrixAggregator"></div>
        <!-- Row 3 Chart Selector-->
        <div class="rowChart">
            <!-- Content for the third row -->
        </div>
      </div>
      <div class="colFilters">
        <div class="rowFilters" id="vizMatrixAttributeFilters"></div>
      </div>
    </div>
    <!-- Collapse button -->
    <button id="openbtnmatrix" class="openbtn bottom"><span aria-hidden="true" class="esri-collapse__icon esri-expand__icon--expanded esri-icon-expand"></span></button>
    <div id="mainMatrix">
      <div id="matrixView"></div>
      <div id="matrixFooter">
        <div style="height: 25px;">
          <br/>
          <calcite-button id="copyTableBtnMatrix" appearance="solid" color="blue" scale="s">
            Copy Table to Clipboard
          </calcite-button>
        </div>
      </div>
    </div>
    <div id="matrixSettings">

    </div>
  </div>