<div id="trendMainDisplay">
  <div id="trendSidebar" class="sidebar">
    <div class="colAttributes">
      <div class="rowAttributes" id="vizTrendsAttributes"></div>
      <div class="rowAttributeSettings" id="vizTrendsDividers"  ></div>
      <div class="rowGeography" id="vizTrendsAggregator"></div>
      <div class="rowGeography" id="vizTrendsAggregatorFilters"></div>
      <!-- Row 3 Chart Selector-->
      <div class="rowChart">
          <!-- Content for the third row -->
      </div>
    </div>
    <div class="colFilters">
      <div class="rowFilters" id="vizTrendsAttributeFilters" ></div>
      <div class="rowFilters" id="vizTrendsDividerFilters"   ></div>
    </div>
  </div>
  <!-- Collapse button -->
  <button id="openbtntrend" class="openbtn bottom"><span aria-hidden="true" class="esri-collapse__icon esri-expand__icon--expanded esri-icon-expand"></span></button>
  <div id="trendSelector">
  </div>
  <div id="trendMain">
    <div id="trendHeader"></div>
    <div id="trendContent"></div>
    <div id="trendTable"></div>
    <div style="height: 25px;">
      <calcite-button id="copyTableBtn" appearance="solid" color="blue" scale="s">
        Copy Table to Clipboard
      </calcite-button>
    </div>
      </div>
  <div id="trendSettings">
    <div id="trendScenarios"></div>
    <div id="trendOptions">
      <div id="trendYears"></div>
      <div id="trendSeries"></div>
      <div id="trendSeriesMode"></div>
      <div id="trendChange"></div>
      <div id="trendBarGroups"></div>
    </div>
  </div>
</div>